*{
    padding: 0;
    margin: 0;
}
#top{
    width: 100%;
    height: 42px;
    line-height: 42px;
}
#top li{
    list-style: none;
}
#top ul:nth-of-type(1){
    margin-left: 200px;
}
#top ul:nth-of-type(1) li:nth-of-type(3){
    position: absolute;
    display: none;
}
#top ul:nth-of-type(1) li:nth-of-type(2):hover {
    display: block;
}
#top ul:nth-of-type(2){
    margin-right: 200px;
}
#top ul:nth-of-type(1) li{

    float: left;
}
#top ul:nth-of-type(2){
    float: right;
}
#top ul:nth-of-type(2) li{
    float: left;
    margin: 0 10px;
    cursor: pointer;
}
#top ul:nth-of-type(1) li:nth-of-type(1){
    width: 205px;
    height: 40px;
    background: url("../img/img1/ost-bg.png") no-repeat 0 -40px;
}
#top ul:nth-of-type(2) li:nth-of-type(2) div{
    display: inline-block;
    width: 11px;
    height: 13px;
    background: url("../img/img1/ost-bg.png") no-repeat -150px -133px;
}
#center{
    width: 100%;
    height: 1200px;
    border: 1px #ffbf56 solid;
    background: url("../img/img4/bgs1.jpg" ) no-repeat;
    background-size: 100% 1200px;
}
#container{
    height: 84px;
    line-height: 84px;
    background: url("../img/img1/logo.png") no-repeat rgba(0,0,0,0.7) 70px 15px;
    position: relative;
}
#container ul{
    position: absolute;
    top: 0;
    left: 280px;
}
#container li{
    height: 80px;
    list-style: none;
    float: left;
    padding: 0 15px;
    cursor: pointer;
}
#container li a{
    color: #c8c8dd;
    text-decoration: none;
    font-size: 22px;
}
#div1{
    display: inline-block;
    margin-top: 10px;
    width: 60px;
    height: 60px;
    background: url("../img/img1/index.png") no-repeat -182px 0;
}
#container li:hover a{
    color: #ffbf56;
}
#container #li1 a{
    color: white;
}
#match,#partner{
    width: 1200px;
    margin: auto;
}
.p{
    height: 50px;
    line-height: 50px;
    font-size: 25px;
}
hr{
    margin-bottom: 25px;
}
#partner li{
    list-style: none;
    width: 210px;
    height: 75px;
    line-height: 75px;
    text-align: center;
    display: inline-block;
    padding-right: 20px;
}
#partner ul{
    border-bottom: 1px #ffbf56 dashed;
    border-radius: 20px;
}
#div6{
    width: 100%;
    height: 210px;
    margin-top: 90px;
    background: url("../img/img4/bg_footer.jpg") 0 -110px;
}
#div6 span{
    display: inline-block;
    width: 355px;
    height: 60px;
    margin-left: 90px;
    background: url("../img/img1/spr.png") no-repeat;
}
#div6 hr{
    margin: 0 90px;
}
#div7{
    width: 36%;
    height: 120px;
    display: inline-block;
    color: #56565b;
    font-size: 10px;
    position: relative;
    top:-17px;
    margin-left: 100px;
}
#div7,#div8 p{
    margin-top: 5px;
}
#div8{
    width: 50%;
    height: 120px;
    display: inline-block;
    color: #56565b;
    font-size: 10px;
    margin-left: 10px;
}