*{
    padding: 0;
    margin: 0;
}
#top{
    width: 100%;
    height: 42px;
    line-height: 42px;
}
#top li{
    list-style: none;
}
#top ul:nth-of-type(1){
    margin-left: 200px;
}
#top ul:nth-of-type(1) li:nth-of-type(3){
    position: absolute;
    display: none;
}
#top ul:nth-of-type(1) li:nth-of-type(2):hover {
    display: block;
}
#top ul:nth-of-type(2){
    margin-right: 200px;
}
#top ul:nth-of-type(1) li{

    float: left;
}
#top ul:nth-of-type(2){
    float: right;
}
#top ul:nth-of-type(2) li{
    float: left;
    margin: 0 10px;
    cursor: pointer;
}
#top ul:nth-of-type(1) li:nth-of-type(1){
    width: 205px;
    height: 40px;
    background: url("../img/img1/ost-bg.png") no-repeat 0 -40px;
}
#top ul:nth-of-type(2) li:nth-of-type(2) div{
    display: inline-block;
    width: 11px;
    height: 13px;
    background: url("../img/img1/ost-bg.png") no-repeat -150px -133px;
}
#center1{
    width: 1200px;
    height: 300px;
    margin: auto;
}
#center1 p{
    display: inline-block;
    height: 120px;
    line-height: 120px;
    padding-left: 130px;
}
#center1 p span{
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: white;
    background: red;
    border-radius: 50%;
}
#center1 ul{
    list-style: none;
    display: inline-block;
    margin-right: 100px;
}
#center1 ul li{
    padding-top: 5px;
    font-size: 10px;
}
#center1 ul .li1{
    font-size: 18px;
    height: 30px;
}
#center1 ul li:hover{
    cursor: pointer;
    text-decoration: underline;
}
#center1 ul .li1:hover{
    text-decoration: none;
    cursor: default;
}
#foot{
    width: 100%;
    height: 200px;
    background: url("../img/img5/foot-list.jpg");
}
#foot div{
    height: 87px;
}
#foot div:nth-of-type(2){
    background: #000;
    color: white;
    font-size: 15px;
}
#font div ul{
    list-style: none;
    text-align: center;
    margin: auto;
}

#foot div:nth-of-type(1) ul li{
    display: inline-block;
    height: 87px;
    line-height: 87px;
    color: #747487;
    margin-right: 10px;
}
#foot div:nth-of-type(1) ul li:hover{
    cursor: pointer;
}
#foot div:nth-of-type(1) ul li:nth-of-type(1){
    margin-left: 500px;
}
#foot div:nth-of-type(2) ul{
    width: 80%;
    margin: auto;
    list-style: none;
}
#foot div:nth-of-type(2) ul li{
    text-align: center;
    font-size: 13px;
    padding-top: 10px;
}